.rpgc-entity-form {
  /* background-color: #dafada; */
}

.rpgc-entity-form .form-wrapper .form-item {
  margin-bottom: 1em;
}

.rpgc-entity-form .form-wrapper .form-item label {
  display: block;
  font-weight: bold;
}

.rpgc-entity-form .form-wrapper .form-item input,
.rpgc-entity-form .form-wrapper .form-item select,
.rpgc-entity-form .form-wrapper .form-item textarea {
  display: block;
  margin-left: 1em;
  margin-bottom: 0.4em;
  padding: 0.3em 0.5em;
}

.rpgc-entity-form .form-wrapper .form-item[class*="-stat-"] {
  width: 40%;
  display: inline-block;
}

.rpgc-entity-form .form-wrapper .form-item input[name*="_stat_"] {
  width: 3em;
}

.rpgc-entity-form .form-wrapper .form-item .description {
  font-style: italic;
  margin-left: 1.2em;
  font-size: 0.8em;
}
