.rpgc-entity-form {
  /* background-color: #dafada; */
}

.rpgc-entity-form .form-wrapper {
  margin-bottom: 1em;
}

.rpgc-entity-form .form-wrapper.field--stat,
.rpgc-entity-form .form-wrapper .form-item {
  margin-bottom: 0;
}

.rpgc-entity-form .form-wrapper .form-item label {
  display: block;
  font-weight: bold;
}

.rpgc-entity-form .form-wrapper .form-item input,
.rpgc-entity-form .form-wrapper .form-item select,
.rpgc-entity-form .form-wrapper .form-item textarea {
  display: block;
  margin-left: 1em;
  margin-bottom: 0.4em;
  padding: 0.3em 0.5em;
}

.rpgc-entity-form .form-wrapper .form-item .description {
  font-style: italic;
  margin-left: 1.2em;
  font-size: 0.8em;
}

.ara-container {
  margin-left: 0.6em;
  margin-bottom: 1.5em;
}

.ara-container a.ajax-roll-again {
  background-color: #cccccc;
  padding: 0.3em;
  border-radius: 0.4em;
  color: #000000;
  text-decoration: none;
  font-size: 0.9em;
  transition: 0.2s;
}

.ara-container a.ajax-roll-again:hover {
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
}

.dropbutton-widget {
  background-color: #ffffff;
  padding: 4px 2em 4px 4px;
  border-radius: 4px;
  border: 1px #cccccc solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  text-align: left;
}

table thead tr {
  border: 0 #999999 solid;
  border-width: 0 0 1px 0;
}

table tbody tr {
  border: 0 #cccccc solid;
  border-width: 0 0 1px 0;
}
table tbody tr td {
  padding: 0.3em 1em 0.5em 0em;
}
