.rpgc-entity-form .form-wrapper .form-item[class*="-stat-"] {
  width: 40%;
  display: inline-block;
}

.rpgc-entity-form .form-wrapper .form-item input[name*="_stat_"] {
  width: 5em;
}

.rpgc-entity-form .form-wrapper .form-item input#edit-race-0-value {
  pointer-events: none;
}

.rpgc-entity-form .form-wrapper .form-item select#edit-sex-0-value {
  padding-right: 2em;
}


/* HTML% details styling on the add/edit form. */
#rpgc-entity-rpgc-dndbasic-add-form details,
#rpgc-entity-rpgc-dndbasic-edit-form details {
  border: 1px #999 solid;
  padding: 0.5em;
  border-radius: 0.4em;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}

#rpgc-entity-rpgc-dndbasic-add-form details summary,
#rpgc-entity-rpgc-dndbasic-edit-form details summary {
  font-size: 1.5em;
  background-image: url('../images/paper-texture.jpg');
  background-repeat: repeat;
  border-radius: 0.2em;
  border: 1px #BEAD6A solid;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  padding: 0.2em 0.7em;
}

/* Statistics. */
#dndbasic-stats {
  display: flex;
  justify-content: space-between;
}
#dndbasic-stats::after {
  clear: both;
}

#dndbasic-stats > div {
  width: 40%;
  margin-right: 1em;
  border: 1px #cccccc solid;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
  padding: 0.5em;
  display: inline-block;
}

#dndbasic-stats .statistic div {
  font-size: 2em;
  margin-left: 1em;
  color: #990000;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#dndbasic-stats .statistic .stat-title {
  font-size: initial;
  margin-left: 0;
  color: #676767;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.dndbasic-field {
  width: 90%;
  margin-bottom: 1em;
  border: 1px #cccccc solid;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
}

.dndbasic-field div {
  font-size: 1.5em;
  margin-left: 1em;
}

.dndbasic-field div.field-title {
  font-size: 1em;
  margin-left: 0;
  color: #676767;
}

.dndbasic-field.rpgc-entity-field-history div {
  font-size: 1em;
}

/* NPC generator form */
#rpgc-dndbasic-generator details {
  margin-bottom: 1em;
  border: 1px #676767 solid;
  border-radius: 4px;
  padding: 0.5em;
}

#rpgc-dndbasic-generator details summary {
  font-size: 1.2em;
  font-weight: bold;
}

#rpgc-dndbasic-generator .form-item {
  margin: 0.3em 0;
}

#rpgc-dndbasic-generator .form-item label {
}

#rpgc-dndbasic-generator .form-item input.form-number {
  margin-left: 1em;
  display: block;
}

#rpgc-dndbasic-generator .form-item .description {
  font-size: 0.8em;
  margin-left: 1em;
  font-style: italic;
  width: 50%;
  color: #999999;
}

#rpgc-dndbasic-generator .form-submit {
  background-color: #BEAD6A;
  padding: 0.3em 1em;
  border-radius: 8px;
}

/* NPC generator table. */
.npc-table {
  text-align: left;
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
  background-image: url('../images/paper-texture.jpg');
  background-repeat: repeat;
}

.npc-table caption {
  font-weight: bold;
  font-size: 1.2em;
  background-color: #BEAD6A;
  padding: 0.3em 0.5em;
  margin-bottom: 0.5em;
}

.npc-table thead tr {
  border: 0 #BEAD6A solid;
  border-width: 0 0 1px 0;
  position: sticky;
  top: 0;
  background-color: #DCC879;
}

.npc-table tbody tr {
  border: 0 #DCC879 solid;
  border-width: 0 0 1px 0;
}

.npc-table tr td,
.npc-table tr th {
  padding: 0.2em;
}
